# Binaries for programs and plugins
*.exe
*.exe~
*.so
*.dylib
main

# Test binary, built with `go test -c`
*.test

test/contracts

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.DS_Store

# Dependency directories (remove the comment below to include it)
vendor/

# ide files
.vscode/